@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="content-card">
    <div class="header-logo-title">
        <img id="logo" src="HippoLogo.png" />
        <h1>ID proof of concept</h1>
    </div>

    <h2 class="main-action-title">Issue or verify an ID</h2>
    
    <p class="small-instruction">
Issue and verify official ID documents instantly using decentralized, tamper-proof credentials. Your data stays private, secure, and under your control.
    </p>

    <div style="margin-top: 30px;">
        <button type="button" id="idIssue" class="button">Issue an ID</button>
        <button type="button" id="idVerify" class="button">Verify an ID</button>
    </div>
                <script>
                      fetch('api/issuer/get-manifest')
        .then(function (response) {
          response.text()
            .catch(error => displayMessage(error))
            .then(function (message) {
              var manifest = JSON.parse(message);
              document.getElementById('logo').src = manifest.display.card.logo.uri;
            }).catch(error => { console.log(error.message); })
        }).catch(error => { console.log(error.message); })
                        var idIssue = document.getElementById('idIssue');
                        var idVerify = document.getElementById('idVerify');

                        idIssue.addEventListener('click', () => {
                            window.location = "issuer";
                        })
                        idVerify.addEventListener('click', () => {
                            window.location = "verifier";
                        })
                    </script>
            </div>